
.float-box, .flex-item, .grid-item {
    border: 2px solid rgb(30, 180, 200);
    padding: 10px;
    text-align: center;
}

.clear {
  border: 2px solid rgb(146, 13, 167);
}



.float-section {
    float: left;  
}

.clear-both {
    clear: both;   
}


.flex-section {
    display: flex;                 
    justify-content: space-around; 
}

.flex-item {
    align-self: center; 
}




.grid-section {
    display: grid; 
    height: 300px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr;
}
.grid-item-1{
    grid-row: 1;
    grid-column: 1;
}

.grid-item-2{
    grid-row: 2;
    grid-column: 2 ;
}

.grid-item-3{
    grid-row: 3;
    grid-column: 3 ;
}

.grid-item-4{
    grid-row: 4;
    grid-column: 4 ;
}

.grid-item-5{
    grid-row: 5;
    grid-column: 5 ;
}

.grid-item-6{
    grid-row: 6;
    grid-column: 6 ;
}
